@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&display=swap");

/***   pages   ****/

.background_page main {
  background-color: #ece2da;
  
}
.site-width{
  width: 1440px ;
  margin: auto ;
}

/****   HEADER    ****/

#site-logo-inner {
  padding-left: 15%;
}

.sticky-top {
  width: 1440px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky !important;
  top: 0;
  z-index: 20 !important;
}

.logo-planty {
  width: 201px;
  height: 19px;
  margin-left: 15%;
}

.menu-nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.nav-item {
  list-style-type: none;
  
}
#menu-item-42, .nav-item-link{
  width: 30%;
}

#menu-item-41 {
  width: 14.75em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc9f96;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;

}
#menu-item-41:hover{
  background-color: #c02e44;
}

#menu-item-41 .nav-link {
  color: white;

}

#menu-item-42 .nav-link, .nav-item-link .nav-link{
  color: rgb(0, 0, 0);
  
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;

}
#menu-item-42 .nav-link:hover{
 font-size: 0.813em;
 font-weight: 700;
 line-height: 0.975em;
}
.nav-item-link .nav-link:hover{
  font-size: 0.813em;
  font-weight: 700;
  line-height: 0.975em;
}

/**************************/
#menu-item-42 .text-wrap {
  color: black;
  font-size: 16px;
  line-height: 19.2px;
  font-family: syne;
  font-weight: 400;
}

#menu-item-42 .text-wrap:hover {
  font-size: 13px;
  font-weight: 700;
  line-height: 15.6px;


}

#menu-item-41 .text-wrap {
  background-color: #dc9f96;
  padding: 33px 70px 33px 70px;
  margin-right: -10px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  font-family: syne;
  line-height: 19.2px;

}

#menu-item-41 .text-wrap:hover {
  background-color: #c02e44;
}


/* ******page commander***** */


.background-comm * {
  font-family: syne;

}

.background-comm main {
  background-color: #3b8e46 !important;
  width: 1440px;
  margin: auto;

}

/*      formulaire de contact        */
.contact-envoie {
  width: 198px !important;
  padding: 18px !important;
  border-radius: 5px !important;
}



.contact-message .forminator-textarea {
  background-color: white !important;
  z-index: 11;
}

#forminator-module-194 .forminator-label {
  color: black !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

/**   formulaire de commande    **/

#forminator-module-355 {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.forminator-response-message ul {
  display: none;
}

.forminator-response-message {
  color: #c02e44;
  font-size: 1em;
}

.forminator-error-message {
  color: #c02e44;
  font-size: 0.75em;
}

#group-1 {
  display: flex;
  flex-direction: column;
  gap: 3.75em;
  border-right: solid 1px #ffff;
}

#group-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75em;
}

.forminator-required {
  color: #3b8e46;
}

.forminator-repeater-label {
  color: rgb(255, 255, 255);

  font-size: 1.875em;
  font-weight: 700;
  line-height: 2.25em;
}

.com-name {
  color: white;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
}

.forminator-input {
  background-color: white !important;
  border-radius: 0.438em !important;
  padding: 1.125em !important;
}

.forminator-field {
  display: flex;
  flex-direction: column;
  gap: 0.938em;
}

.com-commander {
  color: white;
  background-color: #e0b9b4;
  border: #e0b9b4;
  border-radius: 0.313em;
  width: 12.375em;
  padding: 1em;

}

.com-commander:hover {
  background-color: #c02e44;
}

.forminator-row-last .forminator-field {
  display: flex;
  align-items: center;
}

/**     FOOTER     **/

.foot{
  width: 1440px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}
.menu-footer .nav-link{
  color: black;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;

}


/*************************************************************/
/*****   Média Queries   ******/

@media screen and (max-width: 1000px) {
  .forminator-input {

    padding: 15px !important;
  }

  ;

  .com-name {
    font-size: 16px;
    color: black !important;
  }
}